# Consolidate all financial news into a single table
### Sources:
1. SG Investors
2. Yahoo Finance News

### Import Libraries

In [8]:
import os

In [20]:
original_dir = os.getcwd()
data_dir = '/'.join(file_dir.split('/')[:-2]) + '/data_pulling/financial_news'
print(data_dir)

os.chdir(data_dir)

### Concatenate all dataframes

In [1]:
sg_investors = pd.read_csv('sginvestors_data.csv')
yahoo_finance_news = pd.read_csv('yahoo_finance_news_data.csv')
print(len(sg_investors), len(yahoo_finance_news))

288 876

In [3]:
frames = [sg_investors, yahoo_finance_news]
combined_df = pd.concat(frames)
print('Length of final table:',len(combined_df))
combined_df.head()

Length of final table: 1164

,Symbol,Title,Date,Link,Source,Comments
0,None (General News),Singapore contributes US$15m to Coalition for ...,09/03/2022,https://www.businesstimes.com.sg/government-ec...,The Business Times,Featured on SGInvestors
1,None (General News),Crypto exchanges staying in Russia will face g...,09/03/2022,https://www.channelnewsasia.com/business/crypt...,CNA,Featured on SGInvestors
2,None (General News),Primordial octopus was up in arms - 10 instead...,09/03/2022,https://www.channelnewsasia.com/world/primordi...,CNA,Featured on SGInvestors
3,None (General News),Oil surges as US and Britain cut off Russian c...,08/03/2022,https://www.channelnewsasia.com/business/oil-s...,CNA,Featured on SGInvestors
4,None (General News),Oil gains on expectations of US and British ba...,08/03/2022,https://www.channelnewsasia.com/business/oil-g...,CNA,Featured on SGInvestors

In [5]:
os.chdir(original_dir)
combined_df.to_csv('combined_df.csv')