Source: https://www.rateinflation.com/inflation-rate/singapore-inflation-rate/

## updated

In [68]:
import pandas as pd
import numpy as np
import datetime
import requests
from bs4 import BeautifulSoup
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.96 Safari/537.36"}
url = 'https://www.rateinflation.com/inflation-rate/singapore-inflation-rate/'
response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.text, "lxml")

In [69]:
# init (historical)
rows = soup.find_all('tr')
final = []
for row in rows:
    col = row.find_all('td')
    col = [ele.text.replace('%', '') for ele in col]
    final.append(col[::len(col)-1])
init = final[3:6]
df = pd.DataFrame(init, columns=['Year', 'Inflation %'])
df

   Year Inflation %
0  2020      -0.182
1  2019       0.565
2  2018       0.439

In [70]:
# yearly, simualte with 2021
yearly = []
for item in final:
    if len(item) != 0:
        if (item[0] == str(datetime.date.today().year - 1)) and (len(item[1]) != 0):
            yearly.append(item)
df = pd.DataFrame(yearly, columns=['Year', 'Inflation %'])
df

   Year Inflation %
0  2021       2.305

## original

In [61]:
import pandas as pd
import numpy as np

import requests
from bs4 import BeautifulSoup

In [62]:
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.96 Safari/537.36"}

In [63]:
url = 'https://www.rateinflation.com/inflation-rate/singapore-inflation-rate/'

In [64]:
response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.text, "lxml")
wants = soup.find_all("td")

In [65]:
def get_inflation(latest_year, val_interest):
    
    # Intialise variables needed in function
    counter = 0
    curr_year = str(latest_year) # Ensure variable type is string
    year = []
    inflation = []
    
    for val in val_interest:
        if curr_year in val:
            year.append(curr_year)
            curr_year = str(int(curr_year) - 1)
            counter += 1
        elif counter == 13:
            value = val.get_text()
            if not value:
                inflation.append('Unavailable')
            else:
                inflation.append(value[:-1])
            counter = 0
        else:
            counter += 1
    
    # Return df
    df = pd.DataFrame(year, columns = ['Year'])
    df['Inflation (%)'] = inflation
    
    return df

In [66]:
final_df = get_inflation('2022', wants)

In [67]:
final_df

   Year Inflation (%)
0  2022   Unavailable
1  2021         2.305
2  2020        -0.182
3  2019         0.565
4  2018         0.439